* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(11, 11, 11);
    color: white;
}

#homeId {
    z-index: 0;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.name {
    text-align: center;
}

nav {
    text-align: center;
    padding: 15px;
    background-color: rgb(17, 23, 23);

}

nav>div {
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

nav>div>button {
    padding: 6px;
    background-color: rgb(70, 51, 88);
    color: whitesmoke;
}

div {
    text-align: center;

}

#titleHome {
    position: fixed;
    width: 100%;
    top: 80%;
    text-align: center;
    z-index: 1;
    margin: 0;
    padding: 0;

}


.attributesImages {
    padding-top: 15px;
}



table,
th,
td {
    background-color: ghostwhite;
    text-align: center;
    color: black;
    margin: auto;
    margin-bottom: 4rem;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}

#divTitleMenu,
#divTitleContact {
    padding: 2rem;
}

.titleH2 {
    padding-bottom: 2.2rem;
}

.divContactPhoneAddress {
    padding: 12px;
    border: 1px solid rgba(255, 255, 0, 0.806);
    width: fit-content;
    margin: auto;
    color: rgb(145, 224, 145);
}

.divContact {
    padding-bottom: 3rem;
}